<!-- ================= TOP OFFER BAR ================= -->
<!-- <div class="top-bar">
  <div class="top-item">
    <mat-icon>local_shipping</mat-icon>

    <div>
      <strong>FREE SHIPPING</strong>
      <span>On orders over $49</span>
    </div>
  </div>


  
  <div class="summer-offer">
    <mat-icon>wb_sunny</mat-icon>
    <span>SUMMER FRESH SALE – UP TO 35% OFF</span>
  </div>

  <a href="javascript:void(0)">View in Browser</a>
</div> -->

<!-- NAVBAR -->

<!-- <header class="navbar">

  <div class="logo" routerLink="/home">
    <div class="logo-icon">
      <span>🍏</span>
    </div>



    <div>
      <h2>FruitBasket</h2>
      <p>NATURALLY FRESH</p>
    </div>
  </div>


  <nav class="nav-links">

    <a routerLink="/home"></a>

    <a routerLink="/freshfruit">
      FRESH FRUIT
    </a>

    <a routerLink="/fruitbox"
    [queryParams]="{category: 'fruit-box'}">
      FRUIT BOX
    </a>

    <a routerLink="/combos"
     [queryParams]="{category: 'combos'}"
       >
      COMBOS
    </a>

    <a routerLink="/juices"
    [queryParams]="{category: 'juices'}"
       >
      JUICES
    </a>

    <a
      routerLink="/offers"
     
      class="offer-link">
      OFFERS
    </a>

  </nav>


  <div class="nav-actions">

    <button
      mat-icon-button
      matTooltip="Search"
      routerLink="/search">

      <mat-icon>search</mat-icon>

    </button>


    <button
      mat-icon-button
      matTooltip="Account"
      routerLink="/login">

      <mat-icon>person_outline</mat-icon>

    </button>


    <button
      mat-icon-button
      matTooltip="Shopping Cart"
      routerLink="/cart"
      class="cart-button">

      <mat-icon
        [matBadge]="cartCount"
        matBadgeColor="warn"
        [matBadgeHidden]="cartCount === 0">
        shopping_bag
      </mat-icon>

    </button>


     <button
      mat-icon-button
      class="mobile-menu-button"
       (click)="mobileMenuOpen = !mobileMenuOpen"
      >

      <mat-icon>
        {{ mobileMenuOpen ? 'close' : 'menu' }}
      </mat-icon>

    </button>

  </div>

</header> -->

<!-- MOBILE MENU -->

<!-- <div
  class="mobile-menu"
  [class.show]="mobileMenuOpen">

  <a routerLink="/home" (click)="mobileMenuOpen=false">
    FRESH FRUIT
  </a>
    <a routerLink="/freshfruit" (click)="mobileMenuOpen=false">
      FRESH FRUIT
    </a>


  <a routerLink="/fruitbox"
  [queryParams]="{category: 'fruit-box'}"
     (click)="mobileMenuOpen=false">
    FRUIT BOX
  </a>

  <a routerLink="/combos"
     [queryParams]="{category: 'combos'}"
     (click)="mobileMenuOpen=false">
    COMBOS
  </a>

  <a routerLink="/juices"
     [queryParams]="{category: 'juices'}"
     (click)="mobileMenuOpen=false">
    JUICES
  </a>

  <a routerLink="/offers"
     (click)="mobileMenuOpen=false">
    OFFERS
  </a>

</div>  -->

<!-- <router-outlet></router-outlet> -->