/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$green: #3d7d20;
$dark-green: #17451d;
$light-green: #eef6e8;
$cream: #f8f8f0;
$text: #202820;
$border: #dfe5d9;


:host {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: $text;
}